@(title: String="System Demo")(content: Html)(left: Html)

@main(title) {
    <div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
	      <a class="brand" href="/">BANNER-CHEMDNER Demo</a>
	    </div>
	  </div>
	</div>
    <div class="container">
      <div class="row-fluid">
        <div class="span2">
         
        </div><!--/span-->
        <div class="span7">
          <section>
            @content
          </section>
        </div><!--/span-->
        <div class="span3">
          	@left
        </div><!--/span-->
      </div><!--/row-->

      <hr>
      <footer class = "footer centered-text">
        <p>BANNER-CHEMDNER System Demo by Tsendsuren Munkhdalai</p>
      </footer>
    </div><!--/.fluid-container-->
    
}