@(mentions: List[banner.types.Mention], taggedText: String)

@index("Tagged result") {
	
	<p class="well">@Html(taggedText)</p>
	<hr>
	<table class="table table-striped">
	            <thead>
	                <tr>
	                	<th>
	                		Mention
	                	</th>
	                	<th>
	                		Start Index
	                	</th>
	                	<th>
	                		End Index
	                	</th>
	                </tr>
	            </thead>
	            <tbody>
			    @mentions.map { mention =>
			    	<tr>
			    		<td>
						    @mention.getText()	
			    		</td>
			    		<td>
			    			@mention.getStartChar()
						</td>
						<td>
							@mention.getEndChar()
						</td>
			    	</tr>
				}
				</tbody>
        </table>
			    
} { }
