@(textForm: Form[Text], plh: String, sampleJson: List[String])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) } 

@index("BANNER-CHEMDNER") {

    
    <h1>Insert some sample data</h1>
    
    @form(routes.Application.tagForm(), 'class -> "form-vertical well") {
        
        <fieldset>
            @textarea(textForm("text"), '_label -> "Text", 'rows -> 10, 'class -> "text", 'placeholder -> plh)
            <div class="form-actions">
                <input type="submit" value="CHEMDNER" class="btn btn-primary">
                
            </div>
        </fieldset>
    }
} { 
	<p>
		<h3>REST Service: Json response samples</h3>
		<b>endpoint:</b> /tag?text=your text
	</p>
	
	<ul class="unstyled">
		@for((key, value) <- sampleJson.zipWithIndex) {
			<li>
				<a href="/tag?text=@key">Json response @(value + 1)</a> 	
			</li>
		}
	</ul>
	
	
}
