@(elements: helper.FieldElements)

@**************************************************
* Generate input according twitter bootsrap rules *
**************************************************@
<div class="control-group @if(elements.hasErrors) {error}">
    <label class = "control-label" for="@elements.id">@elements.label</label>
    <div class="controls">
        @elements.input
        <p class="help-inline">@elements.errors.mkString(", ")</p>
        <p class="help-block">@elements.infos.mkString(", ")</p> 
    </div>
</div>